/*************************************************
 *  An Example Green Theme for Hugo Academic
 *  Set `custom_css = ["green.css"] in `config.toml`.
 *  Then save this file as `/static/css/green.css` relative to your website root (i.e. not in `themes/academic` directory).
 *  https://github.com/gcushen/hugo-academic
 **************************************************/

a,
a:visited,
h3.article-title a:hover {
    color: RGB(93,181,145);
}

a:hover {
    color: RGB(0, 136, 0);
}

.navbar-default .navbar-nav li a:hover,
.btn-primary,
.btn-primary.btn-outline {
    color: RGB(93,181,145);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
    color: RGB(93,181,145);
}

/* Articles */

.article-title a {
    color: #151515;
}

.article-metadata a {
    color: #888;
}

.article-metadata a:hover {
    color: RGB(93,181,145);
}

/* Standard buttons */

.btn-primary,
.btn-primary.btn-outline {
    border-color: RGB(93,181,145);
}

/* Hover buttons */

.btn-primary.btn-outline:hover {
    border-color: RGB(93,181,145);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:visited,
.btn-primary.btn-outline:active {
    background-color: RGB(93,181,145);
}

.btn-toolbar .btn-group .btn{
    color: #EEE;
    background-color: RGB(93, 181, 145);
}

.btn-toolbar .btn-group .btn:hover{
    color: #EEE;
    background-color: RGBA(93, 181, 145, 0.6);
}

.btn-toolbar .btn-group .btn:focus{
    color: #FFF;
    background-color: RGB(0, 136, 0);
}

.btn-toolbar .btn-group .active:not(:focus){
    color: #FFF;
    background-color: RGB(0, 116, 50);
}
