#ct_pub_simple_authors {
    line-height: normal;
    font-style: normal;
    font-size: 0.8rem;
    color: #F9844A;
}

#ct_pub_simple_publication {
    color: #E56B6F;
    font-size: 0.9rem;
}

ul.pager {
    font-size: 0.8rem;
}

.pub_authors {
    color: #F9844A;
}

.pub_publication {
    color: #E56B6F;
}
