#ct_pub_simple_authors {
    line-height: normal;
    font-style: normal;
    font-size: 0.8rem;
    color: #99C1DE;
}

#ct_pub_simple_publication {
    color: #335C67;
    font-size: 0.9rem;
}

ul.pager {
    font-size: 0.8rem;
}

.pub-list-item .pub-authors {
    color: #99C1DE;
}

.pub-list-item .pub-publication {
    color: #335C67;
}
